.top-screen {
    height: 10vh;
    width: 100vw;
    color: white;
    border-bottom: solid 1px white;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.links-class {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    width: fit-content;
    font-size: 90%;
    position: absolute;
    bottom: 1vh;
    left: 0.5vw;
}

.top-row-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: .5vh;
    margin-top: .9vh;
}

.account-dropdown-menu-container {
    position: absolute;
    top: .5vh;
    right: 0vw;
    border-radius: 15px;
}

.account-dropdown-menu-container.show {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.account-dropdown-menu-items {
    background-color: rgb(24, 26, 27);
    margin-top: .5vh;
    text-align: center;
    width: inherit;
}

.account-dropdown-menu-trigger {
    position: relative;
}

.account-dropdown-menu-container button {
    background-color: transparent;
    color: white;
    border: none;
}

.text {
    color: white;
    padding-right: 1vw;

    
}

.classes {
    margin-left: .5vw;
}

.other {
    padding-left: 8px;
}

.logout-button button {
    background-color: transparent;
    color: red;
    border: none;
}

a {
    color: inherit;
}