.top-screen {
    height: 20vh;
    width: 100vw;
    color: white;
    border-bottom: solid 1px white;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.links-class {
    display: flex;
    flex-direction: row;

    width: fit-content;
    font-size: 90%;
    position: absolute;
    bottom: 1vh;
    left: 0.5vw;
}

.top-row-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: .5vh;
    margin-top: .9vh;
}

.my-account-class {
    position: absolute;
    top: .5vh;
    right: .5vw;
}

.text {
    color: white;
    padding-right: 1vw;

    
}

.classes {
    margin-left: .5vw;
}

.other {
    padding-left: 8px;
}

.logout-button {
}

.logout-button button {
    background-color: transparent;
    color: white;
    border: none;
}