.bottom-d {
  height: 8%;
}
.margin-content {
  margin-top: 40px;
}

.team-bg {
  background-image: #01111e;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-title {
  font-size: 4.3rem;
  color: white;
  font-weight: 500;
  margin-bottom: 30px;
}

.team-row {
  flex-direction: row;
  display: flex;
  height: fit-content;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.mission-text {
  color: white;
  text-align: left;
  max-width: 40%;
  align-self: flex-end;
  margin-right: 50px;
  max-height: 55%;
}

.separator {
  width: 90%;
  background-color: white;
  height: 5px;
  align-self: center;
  position: absolute;
  margin-top: 30px;
  margin-left: 5%;
  border-radius: 10px;
}

.separator2 {
  width: 100%;
  background-color: white;
  height: 3px;
  position: absolute;
}

.mission-title {
  font-size: 5.3rem;
}

.mission-desc {
  margin-top: 20px;
  font-size: 1.2rem;
  max-width: 90%;
}

.mission-bg {
  height: 100%;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
}

.screen {
  height: 100%;
}

.titleText {
  font-size: 4.3rem;
  color: aliceblue;
  font-weight: 500;
  max-width: 60%;
  margin-bottom: 20px;
}

.landingDiv {
  padding: 100px;
  padding-top: 30px;
}

.backgroundDiv {
  height: 100%;
  background-image: url("/rocket-bg.jpeg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStartedBox {
  background-color: aliceblue;
  justify-content: center;
  display: flex;
  width: fit-content;
  align-items: center;
  display: flex;
  border-radius: 50px;
  border-color: #ebebeb;
  border-style: solid;
  border-width: 2px;
  transition: 0.25s;
  cursor: pointer;
}

.getStartedBox:hover {
  border-color: gray;
  background-color: gainsboro;
  border-style: solid;
  border-width: 2px;
}

.startedDiv {
  padding: 15px;
  padding-top: 25px;
}

.startedText {
  font-size: 1.6rem;
  font-weight: 500;
  color: gray;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.earth-image {
  height: 30%;
}

/* overarching css */

html,
body,
#root {
  height: 100%;
  background-color: black;
  font-size: larger;
}

@media all and (max-width: 1000px) {
  .titleText {
    font-size: 2.2rem;
    color: aliceblue;
    font-weight: 500;
    max-width: 95%;
    margin-bottom: 20px;
  }
  .landingDiv {
    padding: 30px;
  }
  .backgroundDiv {
    height: 100%;
    background-image: url("../../../public/rocket-bg.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mission-title {
    font-size: 2.9rem;
  }

  .mission-desc {
    font-size: 0.9rem;
    max-width: 90%;
  }
  .earth-image {
    width: 0%;
  }

  .mission-bg {
    height: 105%;
    background-image: url("../../../public/stars-bg2.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .mission-text {
    color: white;
    text-align: left;
    max-width: 90%;

    align-self: center;
    margin-right: 0px;
    margin-top: 20px;
    max-height: 55%;
  }
  .margin-content {
    margin-top: 40px;
  }

  .team-bg {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .team-title {
    font-size: 4.3rem;
    color: white;
    font-weight: 500;
  }

  .team-row {
    align-items: center;
    flex-direction: column;
    display: flex;
    height: fit-content;
    justify-content: space-evenly;
  }

  .bottom-d {
    height: 10%;
  }
}
